@use "./util/" as *;

.header {
  //hamburger open styles
  &.open {
   

    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: rem(60);
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, var(--darkBlue), transparent);
  }

  nav {
    padding: rem(17) rem(24);
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__menu {
    //mobile menu

    > span {
      display: block;
      width: rem(26);
      height: rem(2);
      background-color: var(--darkBlue);
      transition: all 300ms ease;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    a {
      // outline: solid 1px red; /////
      font-size: var(--font-sm);
      color: var(--grayishBlue);
      transition: color 300ms ease-in-out;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 4px;
        bottom: -30px;
        left: 0;
        right: 0;
        transition: opacity 300ms ease-in-out;
        background-image: linear-gradient(
          to right,
          var(--limeGreen),
          var(--brightCyan)
        );
        opacity: 0;
      }

      &:hover {
        color: var(--darkBlue);
        &::before {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__cta {
    font-size: var(--font-sm);
    color: var(--white);
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
